* {
    margin: 0;
    padding: 0;
}
.b-g-c{
    background-color:rgb(245 248 255) ;
}


/* inter font */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* raleway font */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* logo-style */

.logo-style {
    font-weight: 900;
    font-size: 35px;


}

/* button */

.sign-up {
    width: 125px;
    height: 45px;
}

/* hader-style */
.bg-img{ 
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
 height:100vh;
 background-size: cover;
 background-repeat: no-repeat;
 

}  

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
    
  
}
.div-style{
   text-align: center;
  padding: 300px 260px 152px 260px;
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: center;
}



.header-title{
    font-size: 65px;
    font-weight: 700px;
    
}

.stay-focused{

    width: 170px;
    height: 45px;
}


/* main */
main{ max-width: 1140px;
    margin:0 auto;
}
/* section */
.section1{
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top:125px;
     margin-bottom:100px;
}


.section1-heading{
    font-size:42px;
    font-weight:700;

}


.section1-description{
    height:60px;
    width:500;
    font-size:24px;
   padding-top:20px;
   padding-bottom:20px;
    color: #252432;
    opacity: 0.5;
    
}

/* section1-img */
.section1-img{
      height:320px;
      width: 400px;
      border-radius:35px;
}



/* section2 */

.section2{
    background-color:rgba(78, 71, 255, 0.1);
    margin-top: 100px;
   
}

.section2-padding{
    padding:0 142px;
}


.section2-title{
    
    text-align: center;
    font-size: 32px;
    font-weight:700;
    
   
   padding-top: 50px;
   padding-bottom: 40px;
}


.user-number{
    display: flex;
    justify-content: space-around;
}

.number-style{
    font-size:80px;
    font-weight:700;
    
}
.user-number-padding{
    padding-bottom: 25px;
}


.section3{
    margin-top:150px;
}


.section3-title{

        text-align: center;
         font-size: 38px;
    font-weight:700;
    padding-bottom: 50px;

}


.section3-card{
    display: flex;
    justify-content:space-between;

}

.review-date{
    display: flex;
}
.cloumn-flex{
    display: flex;
    flex-direction: column;
}
.circle-img{
    border-radius: 50%;
}

.font{
    font-family: sans-serif;
    text-align:left;
}


.section3-background{

  background-color:#F2EDED;
  padding:25px;

}



/* last section */

.create-form{
   margin-top:90px ;
display: flex;
align-items: center;
justify-content:space-between;
}

.form-heading{
    font-size:75px;
    font-weight:700;
    padding:200px 0;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    
}
.form-group input[type="email"],
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    font-size:30px;
    box-sizing: border-box; 
    background-color:rgb(255 255 255); 
    
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    font-size:15px;
}



/* shared style */

.shared-text-color {
    color: #4E47FF;

}

.button-style {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.button-style:hover{
   background-color: green;
   box-shadow: 2px 4px 9px red;
}