* {
    margin: 0;
    padding: 0;
}

/* inter font */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* raleway font */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* logo-style */

.logo-style {
    font-weight: 900;
    font-size: 35px;


}

/* button */

.sign-up {
    width: 125px;
    height: 45px;
}

/* hader-style */
.bg-img{ 
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
 height:699px;
 background-size: cover;
 background-repeat: no-repeat;
 

}  

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
    
  
}
.div-style{
     width:900px;
     height: 200px;
    
    font-weight: 500;
    font-size: 65px;
    
    text-align: center;
    margin:250px 260px;
  
}

/* section */
.section1{
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     height:325px;
     width:1130;
     margin:300px 150px 10px 141px;
}


.section1-heading{
    font-size:50px;
    font-weight:550px;

    
    
    

}


.section1-description{
    height:40px;
    width:540px;
    font-size:28px;
   padding-top:12px;
   padding-bottom: 35px;
    color: #252432;
    opacity: 0.5;
    
}

/* section1-img */
.section1-img{
      height:325px;
      width: 420px;
      border-radius:35px;
}



/* section2 */

.section2{
    background-color:rgba(78, 71, 255, 0.1);
    width: 1223px;
    height:250px;
    margin:100px 150px 10px 141px;
   
}

.section2-title{
    text-align: center;
    font-size: 30px;
    font-weight: 400px;
    padding-top:30px;
    padding-bottom:25px;
}

.section3-card{
    display: flex;
    justify-content:space-between;
}


.user-number{
    display: flex;
    justify-content: space-around;
}

.number-style{
    font-size:75px;
    font-weight:450px;
}



/* shared style */

.shared-text-color {
    color: #4E47FF;

}

.button-style {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}
